<%= @topic.title %>

<div class="input-field">
  <textarea id="message" class="materialize-textarea" placeholder="Type your message here..."></textarea>
  <button id="send" class="btn">Add Comment</button>
  <ul class="collection">
  </ul>
</div>
<script>
  document.addEventListener("DOMContentLoaded", function() {
    window.createSocket(<%= @topic.id %>)
  });
</script>
